# Data Structure Assignment

**Question-1 Discuss string slicing and provide examples.**

Answer:

String slicing is a powerful feature in Python that allows you to extract a subset of characters from a string.


Basic Syntax:


string[start:stop:step]


- start: The starting index of the slice (inclusive).
- stop: The ending index of the slice (exclusive).
- step: The increment between indices (default is 1).

Examples:

In [ ]:
#Simple Slice
my_string = "hello"
print(my_string[1:4])

ell

In [ ]:
#Omitting Start Index
my_string = "hello"
my_string[:4]

'hell'

In [ ]:
#Omitting Stop Index
my_string = "hello"
my_string[2:]

'llo'

In [ ]:
#Negative Indices
my_string = "hello"
my_string[-3:]

'llo'

In [ ]:
#Step Parameter
my_string = "hello"
my_string[::2]

'hlo'

In [ ]:
#Reversing a String
my_string = "hello"
my_string[::-1]

'olleh'

Common Use Cases:

1.Extracting substrings

2.Removing characters from a string

3.Reversing a string

4.Creating a substring from a larger string

5.Validating user input

6.Tips and Tricks:



Use len() to get the length of the string.

Use my_string[start:stop] to extract a substring.

Use my_string[:] to create a copy of the string.

Use my_string[::-1] to reverse a string.

Use my_string[::2] to extract every other character.

**Question-2 Explain the key features of lists in Python.**

Answer:

 Lists are a fundamental data structure in Python, offering powerful features for storing and manipulating collections of data.

Key Features of Lists:

1. Ordered: Lists maintain the order of elements.
2. Indexed: Elements are accessible via indices (0-based).
3. Mutable: Lists can be modified after creation.
4. Dynamic: Lists can grow or shrink dynamically.
5. Heterogeneous: Lists can store elements of different data types.

List Operations:

1. Indexing: Accessing elements by index (list[i]).
2. Slicing: Extracting subsets of elements (list[i:j]).
3. Append: Adding elements to the end (list.append()).
4. Insert: Inserting elements at specific positions (list.insert()).
5. Remove: Deleting elements by value or index (list.remove() or del list[i]).
6. Sort: Sorting elements in ascending or descending order (list.sort()).
7. Reverse: Reversing the order of elements (list.reverse()).

List Methods:

1. append(): Adds an element to the end.
2. extend(): Adds multiple elements.
3. insert(): Inserts an element at a specific position.
4. remove(): Deletes the first occurrence of an element.
5. pop(): Removes and returns an element at a specific position.
6. index(): Returns the index of the first occurrence of an element.
7. count(): Returns the number of occurrences of an element.
8. sort(): Sorts the list in-place.
9. reverse(): Reverses the list in-place.

List Comprehensions:

1. Concise way to create lists from existing lists or iterables.
2. Syntax: [expression for element in iterable].

Example: squares = [x**2 for x in range(10)]

Use Cases:

1. Storing collections of data.
2. Manipulating data in-place.
3. Creating dynamic arrays.
4. Implementing stacks and queues.
5. Representing matrices and vectors.

**Question-3 Describe how to access, modify, and delete elements in a list with examples.**

Answer
Here's how to access, modify, and delete elements in a list:

Accessing Elements

Indexing: Access elements using square brackets [] with the index

In [1]:
my_list = [1, 2, 3, 4, 5]
print(my_list[0])

1

In [2]:
#Negative Indexing: Access elements from the end.
my_list = [1, 2, 3, 4, 5]
print(my_list[-1])

5

In [3]:
#Slicing: Access a range of elements.
my_list = [1, 2, 3, 4, 5]
print(my_list[1:3])

[2, 3]

Modifying Elements

Assignment: Modify an element by assigning a new value.

In [5]:
y_list = [1, 2, 3, 4, 5]
my_list[0] = 10
print(my_list)

[10, 2, 3, 4, 5]

In [6]:
#Append: Add an element to the end.
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [7]:
#Insert: Insert an element at a specific position.
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 10)
print(my_list)

[1, 2, 10, 3, 4, 5]

Deleting Elements

In [8]:
#Remove: Delete the first occurrence of an element.
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [9]:
#op: Delete and return an element at a specific position.
my_list = [1, 2, 3, 4, 5]
print(my_list.pop(2))

3

In [10]:
print(my_list)

[1, 2, 4, 5]

In [11]:
#Del: Delete an element using the del statement.
my_list = [1, 2, 3, 4, 5]
del my_list[2]
print(my_list)

[1, 2, 4, 5]

Additional Methods

In [12]:
#Extend: Add multiple elements.
my_list = [1, 2, 3]
my_list.extend([4, 5, 6])
print(my_list)

[1, 2, 3, 4, 5, 6]

In [13]:
#Sort: Sort the list in-place.
my_list = [4, 2, 1, 3]
my_list.sort()
print(my_list)

[1, 2, 3, 4]

In [14]:
#Reverse: Reverse the list in-place.
my_list = [1, 2, 3, 4]
my_list.reverse()
print(my_list)

[4, 3, 2, 1]

**Question-4 Compare and contrast tuples and lists with examples.**

Answer

Tuples and lists are two fundamental data structures in Python, sharing similarities but with key differences.

Similarities:

1. Ordered collections
2. Indexed (0-based)
3. Can store heterogeneous data types
4. Support slicing and indexing

Differences:

1. Immutability: Tuples are immutable, while lists are mutable.
2. Syntax: Tuples use parentheses (), lists use square brackets [].
3. Performance: Tuples are faster and more memory-efficient.
4. Use cases: Tuples for constant data, lists for dynamic data.

Tuple Characteristics:

1. Immutable
2. Faster execution
3. Memory-efficient
4. Hashable (can be dictionary keys)

List Characteristics:

1. Mutable
2. Slower execution
3. Less memory-efficient
4. Non-hashable (cannot be dictionary keys)

Examples:

In [15]:
my_tuple = (1, 2, 3)
print(my_tuple[0])

1

In [16]:
my_tuple[0] = 10   # Error: Tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [20]:
#List:

my_list = [1, 2, 3]
print(my_list[0])

1

In [18]:
my_list[0] = 10
print(my_list)

[10, 3, 2, 1]

Use Cases:

Tuples:

1.Constant data

2.Dictionary keys

3.Function arguments

4.Data that shouldn't change


Lists:

1.Dynamic data

2.User input

3.Data that needs modification

4.Large datasets

**Question-5 Describe the key features of sets and provide examples of their use.**

Answer

Sets are an essential data structure in Python, providing efficient and effective ways to store and manipulate unique elements.

Key Features of Sets:

1. Unordered collection
2. Unique elements (no duplicates)
3. Mutable (can be modified)
4. Fast membership testing
5. Support for set operations (union, intersection, difference)

Set Operations:

1. Union (|): Combines elements from two sets.
2. Intersection (&): Returns common elements between two sets.
3. Difference (-): Returns elements in one set but not the other.
4. Symmetric Difference (^): Returns elements in either set but not both.

Examples:

In [21]:
#Creating Sets:


my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [22]:
#Adding Elements:

my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [24]:
#Removing Elements:

my_set.remove(4)
print(my_set)

{1, 2, 3, 5, 6}

In [25]:
#Set Operations:

set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [30]:
##(union)
print(set1 | set2)

{1, 2, 3, 4, 5}

In [29]:
##(intersection)
print(set1 & set2)

{3}

In [31]:
##(difference)
print(set1 - set2)

{1, 2}

In [32]:
##(symmetric difference)
print(set1 ^ set2)

{1, 2, 4, 5}

Real-World Applications:

1. Data deduplication
2. Membership testing
3. Data filtering
4. Set-based data analysis
5. Database query optimization

Use Cases:

1. Removing duplicates from a list
2. Finding common elements between lists
3. Identifying unique elements in a dataset
4. Optimizing database queries
5. Implementing set-based algorithms

**Question-6 Discuss the use cases of tuples and sets in Python programming.**


Answer

Tuples and sets are essential data structures in Python, serving various purposes.

Tuples:

Use Cases:

1. Constant data: Store data that shouldn't change.
2. Function arguments: Pass multiple arguments efficiently.
3. Dictionary keys: Use tuples as keys due to their immutability.
4. Data integrity: Ensure data consistency and accuracy.
5. Performance-critical code: Tuples are faster than lists.
6. Named tuples: Create lightweight, named objects.
7. Data exchange: Use tuples for inter-process communication.

Examples:

1. Color RGB values: (255, 0, 0) for red.
2. Geographical coordinates: (latitude, longitude) .
3. Database query results: (id, name, email) .

Sets:

Use Cases:

1. Unique data: Eliminate duplicates.
2. Membership testing: Check if an element exists.
3. Data deduplication: Remove duplicates from lists.
4. Set operations: Perform union, intersection, difference.
5. Data filtering: Use sets to filter data.
6. Database query optimization: Reduce query results.
7. Mathematical operations: Perform set-based calculations.

Examples:

1. Unique user IDs: {1, 2, 3, 4, 5}.
2. Product categories: {"electronics", "clothing"}.
3. Permission management: { "read", "write", "execute"}.

Common Applications:

1. Data analysis and science
2. Database management
3. Machine learning and AI
4. Network programming

**Question-7   Describe how to add, modify, and delete items in a dictionary with examples.**

Answer


Here's how to add, modify, and delete items in a dictionary:

Adding Items

In [33]:
#Direct Assignment


my_dict = {"name": "John", "age": 30}
my_dict["city"] = "New York"
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [34]:
#update() Method


my_dict = {"name": "John", "age": 30}
my_dict.update({"city": "New York", "country": "USA"})
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA'}

In [35]:
#setdefault() Method


my_dict = {"name": "John", "age": 30}
my_dict.setdefault("city", "New York")
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [36]:
#Modifying Items

##Direct Assignment


my_dict = {"name": "John", "age": 30}
my_dict["age"] = 31
print(my_dict)

{'name': 'John', 'age': 31}

In [37]:
##update() Method


my_dict = {"name": "John", "age": 30}
my_dict.update({"age": 31})
print(my_dict)

{'name': 'John', 'age': 31}

In [38]:
#Deleting Items

##del Statement


my_dict = {"name": "John", "age": 30}
del my_dict["age"]
print(my_dict)

{'name': 'John'}

In [39]:
##pop() Method


my_dict = {"name": "John", "age": 30}
my_dict.pop("age")
print(my_dict)

{'name': 'John'}

In [40]:
##popitem() Method (removes last inserted item)


my_dict = {"name": "John", "age": 30}
my_dict.popitem()
print(my_dict)

{'name': 'John'}

In [41]:
##clear() Method (removes all items)


my_dict = {"name": "John", "age": 30}
my_dict.clear()
print(my_dict)

{}

In [42]:
##Additional Methods

##keys(): Returns a view object displaying dictionary keys.


my_dict = {"name": "John", "age": 30}
print(my_dict.keys())

dict_keys(['name', 'age'])

In [43]:
##values(): Returns a view object displaying dictionary values.


my_dict = {"name": "John", "age": 30}
print(my_dict.values())

dict_values(['John', 30])

In [44]:
##items(): Returns a view object displaying dictionary key-value pairs.


my_dict = {"name": "John", "age": 30}
print(my_dict.items())

dict_items([('name', 'John'), ('age', 30)])

**Question-8  Discuss the importance of dictionary keys being immutable and provide examples.**

Answer


In Python, dictionary keys must be immutable, meaning they cannot be changed after creation. This requirement ensures efficient and reliable dictionary operations.

Why Immutability Matters:

1. Hashing: Dictionaries rely on hashing to store and retrieve key-value pairs efficiently. Immutable keys ensure consistent hash values, enabling fast lookups.
2. Uniqueness: Immutability guarantees unique keys, preventing duplicate entries and ensuring accurate data storage.
3. Thread Safety: Immutable keys ensure thread safety, allowing multiple threads to access dictionaries without fear of key modifications.

Immutable Key Types:

1. Integers (int)
2. Floats (float)
3. Strings (str)
4. Tuples (tuple)
5. Frozensets (frozenset)
6. Bytes (bytes)

Mutable Key Types (Not Allowed):

1. Lists (list)
2. Dictionaries (dict)
3. Sets (set)

Examples:

In [46]:
##Valid Immutable Keys:


my_dict = {1: "value1","key2": "value2",(1, 2): "value3","hello": "value4"}

In [47]:
my_dict

{1: 'value1', 'key2': 'value2', (1, 2): 'value3', 'hello': 'value4'}

In [48]:
##Invalid Mutable Keys:

my_dict = { [1, 2]: "value1", {"a": 1}: "value2", {1, 2}: "value3" }

TypeError: unhashable type: 'list'

Consequences of Mutable Keys:

1.TypeError: Attempting to use mutable keys raises a TypeError.

2.Data Corruption: Modifying keys can lead to data corruption or loss.

3.Performance Issues: Mutable keys can cause dictionary operations to become inefficient.